<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667071888706-17dgbp32t1qeb8eel4dpebt2bos2lu3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667071888706-17dgbp32t1qeb8eel4dpebt2bos2lu3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBR4EwiUMDtwiNN2L23xY9DP4VZj4O8ax8</string>
	<key>GCM_SENDER_ID</key>
	<string>667071888706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotemig.ExercicioIos</string>
	<key>PROJECT_ID</key>
	<string>iosexercicio</string>
	<key>STORAGE_BUCKET</key>
	<string>iosexercicio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667071888706:ios:0301a3897e979c158edcdb</string>
	<key>DATABASE_URL</key>
	<string>https://iosexercicio-default-rtdb.firebaseio.com</string>
</dict>
</plist>